# Add files to be ignored here
opt/
FMTyper.pro.user
build*
*.pro.user
*.o
Makefile
.DS_Store
.RProj*
*.autosave

Example/

Test_Example/

flextyper/test/indices.txt

flextyper/test/temp.tsv

flextyper/test/.qmake.stash

flextyper/test/testFiles/test.fq.gz

flextyper/test/testOutput/Index_Test.fm9

flextyper/test/testOutput/

flextyper/test/test

ERR1955404_FlextyperIndex/ERR1955404_FlextyperIndex/

ERR1955404_FlextyperIndex/

SRR099967_Exome/

docs/_build/




